.divInput{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content:center;
}
.label{
    color: rgb(0, 138, 138);
    margin-right: 10px;
    margin-left: 10px;
}
.input{
    background: rgb(0, 186, 186 , 0.6);
    border-radius: 5px;
    margin-right: 10px;
}
.sendButton{
    width:8%;
    background-color: rgba(0, 89, 89, 0.5);
    border:rgba(0, 59, 59, 0.5);
    border-style: double;
    border-radius: 20px;
}